/*botones */
.boton-eliminar {
    background-color: #e04e3d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 0.9em;
  }
  
  .boton-eliminar:hover {
    background-color: #ff1900;
  }
.agregar{
    background-color: #1a95ce;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
  }
  
  .agregar:hover {
    background-color: #0f068d;
  }
  
  /*boton de cantidad*/


.boton-cantidad {
    background-color: #1a95ce;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
  }
  
  .boton-cantidad:hover {
    background-color: #0f068d;
  }

  /*estilos de la tabla*/
  .resultados-comparacion {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .resultados-comparacion th,
  .resultados-comparacion td {
    border: 1px solid #ccc;
    padding: 10px 15px;
    text-align: center;
  }
  
  .resultados-comparacion th {
    background-color: #7d9daa;
    color: #333;
  }
  
  .resultados-comparacion tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  .resultados-comparacion .mejor-precio {
    background-color: #d4edda;
    color: #bb0c80;
    font-weight: bold;
  }
  
  .totales-super {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  